app/pug/components/footer.pug
footer
	.footer-logo
		<svg id="footer-logo" data-name="footer-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 611.22 346.01"><defs><style>.cls-1{fill:#fff000;}</style></defs><title>Untitled-1</title><path class="cls-1" d="M472.46,266.45l-11-6.12,9.89-17.72v-16h12.55v17.63a6.28,6.28,0,0,1-.8,3.06Z"/><rect class="cls-1" x="471.39" y="226.62" width="12.55" height="86.23"/><path class="cls-1" d="M564,245.45v44.63l12.55,7V245.45a18.85,18.85,0,0,0-18.83-18.83H533.22v12.55h24.51A6.28,6.28,0,0,1,564,245.45Z"/><rect class="cls-1" x="502.43" y="226.62" width="12.55" height="33.59"/><polygon class="cls-1" points="545.77 279.96 545.77 257.89 533.22 257.89 533.22 272.99 545.77 279.96"/><rect class="cls-1" x="464.82" y="191.63" width="116.17" height="12.55"/><path class="cls-1" d="M605.1,345.64l-97.58-54.45h-5.09V278.64h6.72a6.28,6.28,0,0,1,3.06.79l99,55.24Z"/><rect class="cls-1" x="522.42" y="179.74" width="12.55" height="24.44"/><rect class="cls-1" x="3.29" y="194.41" width="41.78" height="12.55"/><path class="cls-1" d="M32.68,248.29H18.83A18.85,18.85,0,0,1,0,229.47V155.53H12.55v73.93a6.28,6.28,0,0,0,6.28,6.28H32.68v12.55Z"/><path class="cls-1" d="M62.84,248.29H49V235.74H62.84a6.28,6.28,0,0,0,6.28-6.28v-57a6.28,6.28,0,0,0-6.28-6.28H53.38a18.85,18.85,0,0,1-18.83-18.83V127.89H47.11v19.52a6.28,6.28,0,0,0,6.28,6.28h9.45a18.85,18.85,0,0,1,18.83,18.83v57A18.85,18.85,0,0,1,62.84,248.29Z"/><rect class="cls-1" x="227.49" y="18.21" width="12.55" height="85.62"/><rect class="cls-1" x="146.87" y="18.21" width="60.24" height="12.55"/><rect class="cls-1" x="146.87" y="91.28" width="60.24" height="12.55"/><rect class="cls-1" x="146.87" y="127.89" width="29.76" height="12.55"/><rect class="cls-1" x="146.87" y="164.5" width="29.76" height="12.55"/><rect class="cls-1" x="140.27" y="54.68" width="60.17" height="12.55"/><rect class="cls-1" x="227.49" y="54.68" width="35.25" height="12.55"/><path class="cls-1" d="M217,285.87H181.17V273.32H217a6.28,6.28,0,0,0,6.28-6.28V219.93a6.28,6.28,0,0,0-6.28-6.28H181.17V201.1H217a18.85,18.85,0,0,1,18.83,18.83V267A18.85,18.85,0,0,1,217,285.87Z"/><rect class="cls-1" x="146.87" y="309.43" width="100.32" height="12.55"/><rect class="cls-1" x="194.56" y="127.89" width="46.91" height="12.55"/><rect class="cls-1" x="186.46" y="237.21" width="23.19" height="12.55"/><path class="cls-1" d="M247.12,177.62l-33.81-.42a19.05,19.05,0,0,1-18.75-19V0h12.55V158.22a6.54,6.54,0,0,0,6.35,6.43l33.81,0.42Z"/><rect class="cls-1" x="146.87" y="201.1" width="12.55" height="84.77"/><polygon class="cls-1" points="360.16 265.85 360.16 250.72 347.61 250.72 347.61 262.11 315.65 262.11 315.65 274.66 351.53 274.66 360.16 265.85"/><polygon class="cls-1" points="359.85 315.14 350.75 324.44 391.34 346.01 397.45 335.05 359.85 315.14"/><path class="cls-1" d="M329.16,321.59H315.65V309h13.51c1.85,0,6.59-2,9.34-4.84l32.25-32.94c8.43-8.61,9.85-8.61,12-8.61h7.2V275.2h-5.18c-1.05.92-2.8,2.54-5,4.84L347.47,313C342.66,317.89,334.79,321.59,329.16,321.59Z"/></svg>
	.footer-time
		.footer-circle
		p 2018/10/6 10/7
		p PM 6:00 - AM 6:00

app/components/footer.html

<footer>
  <div class="footer-logo"><svg id="footer-logo" data-name="footer-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 611.22 346.01"><defs><style>.cls-1{fill:#fff000;}</style></defs><title>Untitled-1</title><path class="cls-1" d="M472.46,266.45l-11-6.12,9.89-17.72v-16h12.55v17.63a6.28,6.28,0,0,1-.8,3.06Z"/><rect class="cls-1" x="471.39" y="226.62" width="12.55" height="86.23"/><path class="cls-1" d="M564,245.45v44.63l12.55,7V245.45a18.85,18.85,0,0,0-18.83-18.83H533.22v12.55h24.51A6.28,6.28,0,0,1,564,245.45Z"/><rect class="cls-1" x="502.43" y="226.62" width="12.55" height="33.59"/><polygon class="cls-1" points="545.77 279.96 545.77 257.89 533.22 257.89 533.22 272.99 545.77 279.96"/><rect class="cls-1" x="464.82" y="191.63" width="116.17" height="12.55"/><path class="cls-1" d="M605.1,345.64l-97.58-54.45h-5.09V278.64h6.72a6.28,6.28,0,0,1,3.06.79l99,55.24Z"/><rect class="cls-1" x="522.42" y="179.74" width="12.55" height="24.44"/><rect class="cls-1" x="3.29" y="194.41" width="41.78" height="12.55"/><path class="cls-1" d="M32.68,248.29H18.83A18.85,18.85,0,0,1,0,229.47V155.53H12.55v73.93a6.28,6.28,0,0,0,6.28,6.28H32.68v12.55Z"/><path class="cls-1" d="M62.84,248.29H49V235.74H62.84a6.28,6.28,0,0,0,6.28-6.28v-57a6.28,6.28,0,0,0-6.28-6.28H53.38a18.85,18.85,0,0,1-18.83-18.83V127.89H47.11v19.52a6.28,6.28,0,0,0,6.28,6.28h9.45a18.85,18.85,0,0,1,18.83,18.83v57A18.85,18.85,0,0,1,62.84,248.29Z"/><rect class="cls-1" x="227.49" y="18.21" width="12.55" height="85.62"/><rect class="cls-1" x="146.87" y="18.21" width="60.24" height="12.55"/><rect class="cls-1" x="146.87" y="91.28" width="60.24" height="12.55"/><rect class="cls-1" x="146.87" y="127.89" width="29.76" height="12.55"/><rect class="cls-1" x="146.87" y="164.5" width="29.76" height="12.55"/><rect class="cls-1" x="140.27" y="54.68" width="60.17" height="12.55"/><rect class="cls-1" x="227.49" y="54.68" width="35.25" height="12.55"/><path class="cls-1" d="M217,285.87H181.17V273.32H217a6.28,6.28,0,0,0,6.28-6.28V219.93a6.28,6.28,0,0,0-6.28-6.28H181.17V201.1H217a18.85,18.85,0,0,1,18.83,18.83V267A18.85,18.85,0,0,1,217,285.87Z"/><rect class="cls-1" x="146.87" y="309.43" width="100.32" height="12.55"/><rect class="cls-1" x="194.56" y="127.89" width="46.91" height="12.55"/><rect class="cls-1" x="186.46" y="237.21" width="23.19" height="12.55"/><path class="cls-1" d="M247.12,177.62l-33.81-.42a19.05,19.05,0,0,1-18.75-19V0h12.55V158.22a6.54,6.54,0,0,0,6.35,6.43l33.81,0.42Z"/><rect class="cls-1" x="146.87" y="201.1" width="12.55" height="84.77"/><polygon class="cls-1" points="360.16 265.85 360.16 250.72 347.61 250.72 347.61 262.11 315.65 262.11 315.65 274.66 351.53 274.66 360.16 265.85"/><polygon class="cls-1" points="359.85 315.14 350.75 324.44 391.34 346.01 397.45 335.05 359.85 315.14"/><path class="cls-1" d="M329.16,321.59H315.65V309h13.51c1.85,0,6.59-2,9.34-4.84l32.25-32.94c8.43-8.61,9.85-8.61,12-8.61h7.2V275.2h-5.18c-1.05.92-2.8,2.54-5,4.84L347.47,313C342.66,317.89,334.79,321.59,329.16,321.59Z"/></svg></div>
  <div class="footer-time">
    <div class="footer-circle"></div>
    <p>2018/10/6 10/7</p>
    <p>PM 6:00 - AM 6:00</p>
  </div>
</footer>
