app/components/index_logo.html
<svg id="index-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 704.86 500.62">
<g class="chi_chr_2" stroke="#fff000" stroke-width="10" fill="none" fill-opacity="0">
<path class="chi_chr_2" d="M143.18,135.81H128.29a12,12,0,0,1-12-12l0.14-74.05" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M155.42,94.78h-39" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M150.38,22.12V43.4c0,4.52,2.1,10.45,13.71,10.66h9.47a13,13,0,0,1,13,13v55.76a13,13,0,0,1-13,13H158.88" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M298.06,31.39h53.58" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M291.46,67.92h60.17" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M298.06,104.45h53.58" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M298.06,141.15h29.76" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M398.38,178.63H364.64a13,13,0,0,1-13-13V6.9" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M298.06,177.63h29.76" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M385,25.11v85.62" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M387,67.86h27.72" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M392.66,141.15H357.23" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M304.34,207.58v85.62" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M332.36,214.55h35.27a13,13,0,0,1,13,13v45.76a13,13,0,0,1-13,13H332.36" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M360.84,250.38h-23.4" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M398.39,323H298.06" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M505.48,256.66v12.93l-3.54,5h-35.1" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M541.13,275.44h-7.29l-40.58,40.89A21.79,21.79,0,0,1,478.39,322c-9.45,0-11.55,0-11.55,0" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M506.33,326.84l39.1,20.85" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M732.3,301.89V320" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M668.43,320H784.6" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M682.25,363.42l-12.51,21.91" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M681.27,348.8V435" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M712.32,348.77v33.59" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M736.83,354.74h24.44a13,13,0,0,1,13,13v48.19" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M743.1,380v18.58" transform="translate(0 -6.9)"/>
<path class="chi_chr_2" d="M706,407h6.28l99.14,55.84" transform="translate(0 -6.9)"/>
</g>
<rect class="nuit-blanche-logo" y="283.68" width="164.84" height="1.94"/><rect class="nuit-blanche-logo" x="112.16" y="314.29" width="9.69" height="107.76"/><rect class="nuit-blanche-logo" x="143.42" y="331.21" width="9.69" height="53.37"/><rect class="nuit-blanche-logo" x="131.63" y="314.29" width="33.26" height="9.69"/><polygon class="nuit-blanche-logo" points="3.02 334.37 3.02 395.14 12.7 395.14 12.7 342.21 3.02 334.37"/><path class="nuit-blanche-logo" d="M331.47,536.41h-9.69V524.65l-42.36-34.29a4.84,4.84,0,0,1-1.8-3.76V478.8h9.69v5.48l42.36,34.29a4.84,4.84,0,0,1,1.8,3.76v14.07Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="56.86 348.97 56.86 314.29 47.17 314.29 47.17 341.13 56.86 348.97"/><path class="nuit-blanche-logo" d="M357.75,502.92a7.71,7.71,0,0,1-5.19-7.27V478.8h-9.69v16.85a17.41,17.41,0,0,0,14.88,17.2v-9.93Z" transform="translate(-274.61 -164.5)"/><path class="nuit-blanche-logo" d="M368,478.8v16.85a7.71,7.71,0,0,1-5.19,7.27v9.93a17.41,17.41,0,0,0,14.88-17.2V478.8H368Z" transform="translate(-274.61 -164.5)"/><rect class="nuit-blanche-logo" x="578.56" y="56.42" width="124.06" height="1.19"/><path class="nuit-blanche-logo" d="M873.57,263.82a13.67,13.67,0,0,0,4.57-10.2v-0.17a13.71,13.71,0,0,0-12.62-13.65v6a7.75,7.75,0,0,1,6.67,7.66v0.17a7.75,7.75,0,0,1-6.67,7.66v6h0.19a7.75,7.75,0,0,1,7.74,7.74v6.62a7.75,7.75,0,0,1-7.74,7.74h-0.19v6h0.19a13.71,13.71,0,0,0,13.7-13.7V275A13.69,13.69,0,0,0,873.57,263.82Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="587.83 124.88 584.34 124.88 584.34 102.81 587.83 102.81 587.83 96.82 584.34 96.82 584.34 81.2 587.83 81.2 587.83 75.25 584.34 75.25 578.38 75.25 578.38 81.2 578.38 96.82 578.38 102.81 578.38 124.88 578.38 130.84 578.38 146.1 584.34 146.1 584.34 130.84 587.83 130.84 587.83 124.88"/><polygon class="nuit-blanche-logo" points="628.61 119.92 613.13 119.92 613.13 75.25 619.08 75.25 619.08 113.97 628.61 113.97 628.61 119.92"/><path class="nuit-blanche-logo" d="M914.33,250.44a4.74,4.74,0,0,1,3.19-4.47v-6.11a10.71,10.71,0,0,0-9.15,10.58v21h6V260.3H918v-6h-3.63v-3.9Z" transform="translate(-274.61 -164.5)"/><path class="nuit-blanche-logo" d="M920.6,239.86V246a4.74,4.74,0,0,1,3.19,4.47V305h6v-54.6A10.71,10.71,0,0,0,920.6,239.86Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="664.69 89.69 664.69 112.45 670.65 112.45 670.65 94.51 664.69 89.69"/><path class="nuit-blanche-logo" d="M972.41,292h-6V272.15l-26-21.08a3,3,0,0,1-1.1-2.31v-9h6v7.57l26,21.09a3,3,0,0,1,1.1,2.31V292Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="697.8 100.77 697.8 75.25 691.84 75.25 691.84 95.95 697.8 100.77"/><rect class="nuit-blanche-logo" x="578.66" y="171.83" width="73.63" height="1.19"/><path class="nuit-blanche-logo" d="M866.82,376.81h-2c-3.18,0-5.87-3.32-5.87-7.26s2.69-7.26,5.87-7.26h2v-6h-2c-6.52,0-11.83,5.93-11.83,13.22s5.31,13.22,11.83,13.22h2v-6Z" transform="translate(-274.61 -164.5)"/><rect class="nuit-blanche-logo" x="642.67" y="191.83" width="11.13" height="5.96"/><rect class="nuit-blanche-logo" x="642.67" y="221.81" width="11.13" height="5.96"/><polygon class="nuit-blanche-logo" points="643.55 212.8 643.55 206.84 639.59 206.84 639.59 191.83 633.7 191.83 633.7 206.84 633.7 212.8 633.7 221.81 633.7 227.77 639.59 227.77 639.59 212.8 643.55 212.8"/><polygon class="nuit-blanche-logo" points="611.88 206.84 605.89 206.84 605.89 192.56 599.94 192.56 599.94 229.15 605.89 229.15 605.89 212.8 611.88 212.8 611.88 206.84"/><polygon class="nuit-blanche-logo" points="620.95 192.56 620.95 206.84 614.96 206.84 614.96 212.8 620.95 212.8 620.95 257.86 626.9 257.86 626.9 192.56 620.95 192.56"/>
</svg>

app/pug/components/index_logo.pug
<svg id="index-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 704.86 500.62">
	<g class="chi_chr_2" stroke="#fff000" stroke-width="10" fill="none" fill-opacity="0">
		<path class="chi_chr_2" d="M143.18,135.81H128.29a12,12,0,0,1-12-12l0.14-74.05" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M155.42,94.78h-39" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M150.38,22.12V43.4c0,4.52,2.1,10.45,13.71,10.66h9.47a13,13,0,0,1,13,13v55.76a13,13,0,0,1-13,13H158.88" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M298.06,31.39h53.58" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M291.46,67.92h60.17" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M298.06,104.45h53.58" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M298.06,141.15h29.76" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M398.38,178.63H364.64a13,13,0,0,1-13-13V6.9" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M298.06,177.63h29.76" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M385,25.11v85.62" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M387,67.86h27.72" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M392.66,141.15H357.23" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M304.34,207.58v85.62" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M332.36,214.55h35.27a13,13,0,0,1,13,13v45.76a13,13,0,0,1-13,13H332.36" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M360.84,250.38h-23.4" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M398.39,323H298.06" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M505.48,256.66v12.93l-3.54,5h-35.1" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M541.13,275.44h-7.29l-40.58,40.89A21.79,21.79,0,0,1,478.39,322c-9.45,0-11.55,0-11.55,0" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M506.33,326.84l39.1,20.85" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M732.3,301.89V320" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M668.43,320H784.6" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M682.25,363.42l-12.51,21.91" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M681.27,348.8V435" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M712.32,348.77v33.59" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M736.83,354.74h24.44a13,13,0,0,1,13,13v48.19" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M743.1,380v18.58" transform="translate(0 -6.9)"/>
		<path class="chi_chr_2" d="M706,407h6.28l99.14,55.84" transform="translate(0 -6.9)"/>
	</g>
	<rect class="nuit-blanche-logo" y="283.68" width="164.84" height="1.94"/><rect class="nuit-blanche-logo" x="112.16" y="314.29" width="9.69" height="107.76"/><rect class="nuit-blanche-logo" x="143.42" y="331.21" width="9.69" height="53.37"/><rect class="nuit-blanche-logo" x="131.63" y="314.29" width="33.26" height="9.69"/><polygon class="nuit-blanche-logo" points="3.02 334.37 3.02 395.14 12.7 395.14 12.7 342.21 3.02 334.37"/><path class="nuit-blanche-logo" d="M331.47,536.41h-9.69V524.65l-42.36-34.29a4.84,4.84,0,0,1-1.8-3.76V478.8h9.69v5.48l42.36,34.29a4.84,4.84,0,0,1,1.8,3.76v14.07Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="56.86 348.97 56.86 314.29 47.17 314.29 47.17 341.13 56.86 348.97"/><path class="nuit-blanche-logo" d="M357.75,502.92a7.71,7.71,0,0,1-5.19-7.27V478.8h-9.69v16.85a17.41,17.41,0,0,0,14.88,17.2v-9.93Z" transform="translate(-274.61 -164.5)"/><path class="nuit-blanche-logo" d="M368,478.8v16.85a7.71,7.71,0,0,1-5.19,7.27v9.93a17.41,17.41,0,0,0,14.88-17.2V478.8H368Z" transform="translate(-274.61 -164.5)"/><rect class="nuit-blanche-logo" x="578.56" y="56.42" width="124.06" height="1.19"/><path class="nuit-blanche-logo" d="M873.57,263.82a13.67,13.67,0,0,0,4.57-10.2v-0.17a13.71,13.71,0,0,0-12.62-13.65v6a7.75,7.75,0,0,1,6.67,7.66v0.17a7.75,7.75,0,0,1-6.67,7.66v6h0.19a7.75,7.75,0,0,1,7.74,7.74v6.62a7.75,7.75,0,0,1-7.74,7.74h-0.19v6h0.19a13.71,13.71,0,0,0,13.7-13.7V275A13.69,13.69,0,0,0,873.57,263.82Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="587.83 124.88 584.34 124.88 584.34 102.81 587.83 102.81 587.83 96.82 584.34 96.82 584.34 81.2 587.83 81.2 587.83 75.25 584.34 75.25 578.38 75.25 578.38 81.2 578.38 96.82 578.38 102.81 578.38 124.88 578.38 130.84 578.38 146.1 584.34 146.1 584.34 130.84 587.83 130.84 587.83 124.88"/><polygon class="nuit-blanche-logo" points="628.61 119.92 613.13 119.92 613.13 75.25 619.08 75.25 619.08 113.97 628.61 113.97 628.61 119.92"/><path class="nuit-blanche-logo" d="M914.33,250.44a4.74,4.74,0,0,1,3.19-4.47v-6.11a10.71,10.71,0,0,0-9.15,10.58v21h6V260.3H918v-6h-3.63v-3.9Z" transform="translate(-274.61 -164.5)"/><path class="nuit-blanche-logo" d="M920.6,239.86V246a4.74,4.74,0,0,1,3.19,4.47V305h6v-54.6A10.71,10.71,0,0,0,920.6,239.86Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="664.69 89.69 664.69 112.45 670.65 112.45 670.65 94.51 664.69 89.69"/><path class="nuit-blanche-logo" d="M972.41,292h-6V272.15l-26-21.08a3,3,0,0,1-1.1-2.31v-9h6v7.57l26,21.09a3,3,0,0,1,1.1,2.31V292Z" transform="translate(-274.61 -164.5)"/><polygon class="nuit-blanche-logo" points="697.8 100.77 697.8 75.25 691.84 75.25 691.84 95.95 697.8 100.77"/><rect class="nuit-blanche-logo" x="578.66" y="171.83" width="73.63" height="1.19"/><path class="nuit-blanche-logo" d="M866.82,376.81h-2c-3.18,0-5.87-3.32-5.87-7.26s2.69-7.26,5.87-7.26h2v-6h-2c-6.52,0-11.83,5.93-11.83,13.22s5.31,13.22,11.83,13.22h2v-6Z" transform="translate(-274.61 -164.5)"/><rect class="nuit-blanche-logo" x="642.67" y="191.83" width="11.13" height="5.96"/><rect class="nuit-blanche-logo" x="642.67" y="221.81" width="11.13" height="5.96"/><polygon class="nuit-blanche-logo" points="643.55 212.8 643.55 206.84 639.59 206.84 639.59 191.83 633.7 191.83 633.7 206.84 633.7 212.8 633.7 221.81 633.7 227.77 639.59 227.77 639.59 212.8 643.55 212.8"/><polygon class="nuit-blanche-logo" points="611.88 206.84 605.89 206.84 605.89 192.56 599.94 192.56 599.94 229.15 605.89 229.15 605.89 212.8 611.88 212.8 611.88 206.84"/><polygon class="nuit-blanche-logo" points="620.95 192.56 620.95 206.84 614.96 206.84 614.96 212.8 620.95 212.8 620.95 257.86 626.9 257.86 626.9 192.56 620.95 192.56"/>
	//- <rect class="nuit-blanche-logo" y="173.92" width="164.84" height="1.94"/><rect class="nuit-blanche-logo" x="112.16" y="204.54" width="9.69" height="107.76"/><rect class="nuit-blanche-logo" x="143.42" y="221.45" width="9.69" height="53.37"/><rect class="nuit-blanche-logo" x="131.63" y="204.54" width="33.26" height="9.69"/><polygon class="nuit-blanche-logo" points="3.02 224.61 3.02 285.39 12.7 285.39 12.7 232.45 3.02 224.61"/><path class="nuit-blanche-logo" d="M314.65,527.61H305V515.85L262.6,481.56a4.84,4.84,0,0,1-1.8-3.76V470h9.69v5.48l42.36,34.29a4.84,4.84,0,0,1,1.8,3.76v14.07Z" transform="translate(-257.79 -265.46)"/><polygon class="nuit-blanche-logo" points="56.86 239.21 56.86 204.54 47.17 204.54 47.17 231.37 56.86 239.21"/><path class="nuit-blanche-logo" d="M340.92,494.13a7.71,7.71,0,0,1-5.19-7.27V470H326v16.85a17.41,17.41,0,0,0,14.88,17.2v-9.93Z" transform="translate(-257.79 -265.46)"/><path class="nuit-blanche-logo" d="M351.13,470v16.85a7.71,7.71,0,0,1-5.19,7.27v9.93a17.41,17.41,0,0,0,14.88-17.2V470h-9.69Z" transform="translate(-257.79 -265.46)"/><rect class="nuit-blanche-logo" x="598.86" width="124.06" height="1.19"/><path class="nuit-blanche-logo" d="M877.06,308.36a13.67,13.67,0,0,0,4.57-10.2V298A13.71,13.71,0,0,0,869,284.34v6a7.75,7.75,0,0,1,6.67,7.66v0.17a7.75,7.75,0,0,1-6.67,7.66v6h0.19a7.75,7.75,0,0,1,7.74,7.74v6.62a7.75,7.75,0,0,1-7.74,7.74H869v6h0.19a13.71,13.71,0,0,0,13.7-13.7v-6.62A13.69,13.69,0,0,0,877.06,308.36Z" transform="translate(-257.79 -265.46)"/><polygon class="nuit-blanche-logo" points="608.13 68.46 604.65 68.46 604.65 46.39 608.13 46.39 608.13 40.4 604.65 40.4 604.65 24.78 608.13 24.78 608.13 18.82 604.65 18.82 598.69 18.82 598.69 24.78 598.69 40.4 598.69 46.39 598.69 68.46 598.69 74.42 598.69 89.68 604.65 89.68 604.65 74.42 608.13 74.42 608.13 68.46"/><polygon class="nuit-blanche-logo" points="648.91 63.5 633.43 63.5 633.43 18.82 639.39 18.82 639.39 57.55 648.91 57.55 648.91 63.5"/><path class="nuit-blanche-logo" d="M917.81,295a4.74,4.74,0,0,1,3.19-4.47V284.4A10.71,10.71,0,0,0,911.85,295v21h6V304.83h3.63v-6h-3.63V295Z" transform="translate(-257.79 -265.46)"/><path class="nuit-blanche-logo" d="M924.09,284.4v6.11a4.74,4.74,0,0,1,3.19,4.47v54.6h6V295A10.71,10.71,0,0,0,924.09,284.4Z" transform="translate(-257.79 -265.46)"/><polygon class="nuit-blanche-logo" points="685 33.27 685 56.03 690.96 56.03 690.96 38.09 685 33.27"/><path class="nuit-blanche-logo" d="M975.89,336.5h-6V316.69l-26-21.08a3,3,0,0,1-1.1-2.31v-9h6v7.57l26,21.09a3,3,0,0,1,1.1,2.31V336.5Z" transform="translate(-257.79 -265.46)"/><polygon class="nuit-blanche-logo" points="718.11 44.35 718.11 18.82 712.15 18.82 712.15 39.53 718.11 44.35"/><rect class="nuit-blanche-logo" x="598.97" y="115.41" width="73.63" height="1.19"/><path class="nuit-blanche-logo" d="M870.3,421.35h-2c-3.18,0-5.87-3.32-5.87-7.26s2.69-7.26,5.87-7.26h2v-6h-2c-6.52,0-11.83,5.93-11.83,13.22s5.31,13.22,11.83,13.22h2v-6Z" transform="translate(-257.79 -265.46)"/><rect class="nuit-blanche-logo" x="662.98" y="135.41" width="11.13" height="5.96"/><rect class="nuit-blanche-logo" x="662.98" y="165.39" width="11.13" height="5.96"/><polygon class="nuit-blanche-logo" points="663.86 156.38 663.86 150.42 659.9 150.42 659.9 135.41 654 135.41 654 150.42 654 156.38 654 165.39 654 171.35 659.9 171.35 659.9 156.38 663.86 156.38"/><polygon class="nuit-blanche-logo" points="632.19 150.42 626.2 150.42 626.2 136.14 620.25 136.14 620.25 172.73 626.2 172.73 626.2 156.38 632.19 156.38 632.19 150.42"/><polygon class="nuit-blanche-logo" points="641.26 136.14 641.26 150.42 635.27 150.42 635.27 156.38 641.26 156.38 641.26 201.44 647.21 201.44 647.21 136.14 641.26 136.14"/>
</svg>
